<div class="cssmenu">
	<ul>
	  	<li class="_home"><a href="/"><span>Home</span></a></li>
		<li class="_about"><a href="about"><span>About</span></a></li>
		<li class="_staff"><a href="staff"><span>Staff</span></a></li>
		<li class="has-sub _service"><a href="service"><span>Services</span></a></li>
		<li class="_contact"><a href="contact"><span>Contact</span></a></li>
		<li class="last _login"><a href="loginPage"><span>Login</span></a></li>
		<div class="clear"></div>
	 </ul>
</div>